
body {
    height: 100vh; 
    overflow-y: scroll; 
    background-color: rgb(255, 0, 43); 
    margin: 0;
    padding: 0;
  }
  
  .custom-grid {
    height: auto; 
  }
  
  
  ion-row {
    display: flex; 
    margin-bottom: 15px; 
    justify-content: space-between; 
  }
  
 
  
  /* fila 1 */
  .filaNo-1 {
    background-color: rgb(255, 255, 255);
    height: 80px; 
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
  
  /*fila 2 */
  .filaNo-2 {
    background-color: rgb(255, 255, 255);
    height: 120px; 
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* fila 3 */
  .filaNo-3 {
    background-color: rgb(255, 255, 255);
    height: 150px; 
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px; 
    border-radius: 5px;
    margin: 5px;
  }
  
  /* ultima fila */
  .filaNo-4 {
    background-color: rgb(255, 255, 255);
    height: 130px; 
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px; 
  }
  
  /* espacio entre columnas */
 ion-row {
    gap: 5px; /* Espacio entre columnas ajustado */
    margin: 100px;
 }