<body>
    <!-- Grid personalizado -->
    <ion-grid class="custom-grid">
      <!-- Primera fila -->
      <ion-row>
        <ion-col size-lg="1.5" size-md="2" size-sm="12" size="12" class="filaNo-1">1</ion-col>
        <ion-col size-lg="1.5" size-md="2" size-sm="12" size="12" class="filaNo-1">2</ion-col>
        <ion-col size-lg="1.5" size-md="2" size-sm="12" size="12" class="filaNo-1">3</ion-col>
        <ion-col size-lg="1.5" size-md="2" size-sm="12" size="12" class="filaNo-1">4</ion-col>
        <ion-col size-lg="1.5" size-md="2" size-sm="12" size="12" class="filaNo-1">5</ion-col>
        <ion-col size-lg="1.5" size-md="2" size-sm="12" size="12" class="filaNo-1">6</ion-col>
      </ion-row>
  
      <!-- Segunda fila (3 columnas más grandes) -->
      <ion-row>
        <ion-col size-lg="3" size-md="4" size-sm="12" size="12" class="filaNo-2">1</ion-col>
        <ion-col size-lg="3" size-md="4" size-sm="12" size="12" class="filaNo-2">2</ion-col>
        <ion-col size-lg="3" size-md="4" size-sm="12" size="12" class="filaNo-2">3</ion-col>
      </ion-row>
  
      <!-- Tercera fila (12 columnas pequeñas) -->
      <ion-row>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">1</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">2</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">3</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">4</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">5</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">6</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">7</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">8</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">9</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">10</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">11</ion-col>
        <ion-col size-lg="0.8" size-md="1" size-sm="6" size="12" class="filaNo-3">12</ion-col>
      </ion-row>
  
      <!-- Cuarta fila (2 columnas grandes) -->
      <ion-row>
        <ion-col size-lg="5" size-md="6" size-sm="12" size="12" class="filaNo-4">1</ion-col>
        <ion-col size-lg="5" size-md="6" size-sm="12" size="12" class="filaNo-4">2</ion-col>
      </ion-row>
    </ion-grid>
  </body>