
<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Productos</ion-title>
  </ion-toolbar>
</ion-header>
<body>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" *ngFor="let producto of productos" >
          <ion-card class="producto-card">
            <ion-card-header class="producto-card-header">
              <ion-card-title>{{ producto.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="producto-card-content">
              <img [src]="producto.image" class="producto-imagen" loading="lazy" width="175" height="175" />
              <p>{{ producto.description }}</p>
              <p>Precio: {{ producto.price }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</body>



