<<<<<<< HEAD
<<<<<<< HEAD
 /*
 #container {
=======
#container {
>>>>>>> 07905ce399c76d79e5c64cf04f0784c10aaa11dd
=======
#container {
>>>>>>> 07905ce399c76d79e5c64cf04f0784c10aaa11dd
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
<<<<<<< HEAD
<<<<<<< HEAD
} 
*/

=======
}
>>>>>>> 07905ce399c76d79e5c64cf04f0784c10aaa11dd
=======
}
>>>>>>> 07905ce399c76d79e5c64cf04f0784c10aaa11dd
